<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seu Puliça</title>

    {% include 'html_dependecies.jinja2' %}

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-default custom-navbar-background">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/" title="Home">Seu Puliça</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#game" title="Busca">Game</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#busca" title="Busca">Busca</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session['email'] %}
                    <li><a href="#registered" title="Registrados"><span
                            class="glyphicon glyphicon-user"></span>
                        Registrados</a></li>
                    <li><a href="#logout" title="Log Out"><span class="glyphicon
                    glyphicon-log-out"></span> Log out</a></li>
                {% else %}
                    <li><a href="#signup" title="Sign up"><span class="glyphicon
                    glyphicon-user"></span> Sign up</a></li>
                    <li><a href="#login" title="Log in"><span class="glyphicon
                    glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>
            ​
        </div>
    </div>
</nav>

<div class="content container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>