<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seu Puliça</title>

    {% include 'html_dependecies.jinja2' %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Seu Puliça</a>
    <button class="collapsed navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#game">Game <span class="sr-only">(current)
        </span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#busca">Busca</a>
            </li>
        </ul>
        <ul class="collapse nav navbar-nav active">
            <li class="nav-item active">
                <a href="#signup" class="nav-link">
                    <img src="static/person.svg" width="30" height="30"
                         class="d-inline-block align-content-center" alt="signup">
                    Sign up  </a>
            </li>
            <li class="nav-item active">
                <a href="#login" class="nav-link">
                    <img src="static/sign-in.svg" width="30" height="30"
                         class="d-inline-block align-content-center" alt="login">  Log in
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="content container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>