{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <h1>Seu Puliça</h1>
        <p>Jogo simples de predição de rotas de fuga para assaltantes criado
            durante a disciplina de Teoria dos Grafos.
        </p>
        <p>O objetivo desta aplicação é ensinar o conceito básico
            do algoritmo de Centralidade em Grafos.</p>
        <p><a class="btn btn-primary btn-lg" href="#game" role="button">Get
            started</a></p>
    </div>
{% endblock %}