<script href="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')
        }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script href="{{ url_for('static', filename='js/bootstrap.js') }}"></script>